* {
    box-sizing: border-box;
    
}
body {
    margin: 0px;
}


/* .center{
    text-align: center;
} */

h1, h2, h3{
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
}



.index-main, .portfolio-main, .contact-main{   
    background-image: url("../images/light-grey-terrazzo.png");
    height: 100%;
    border: 3px solid #dddddd;
    margin-top: -3px;
    width: 100%;     
}

.index-main{
    padding-bottom: 100px;
}

.white{
    background-color: #ffffff;
    max-width: 960px;
    margin-left: 5vh; 
    margin-right: 50vh;
    margin-bottom:60vh;
    padding: 20px;
    margin-top: 60px;
    border: 2px solid #dddddd;
}

.name{
  margin-left: 5vh;
  max-height: 100%;
  
  
}


.nav-container{
    /* max-width: 960px; */
    height: 85px;
    /* margin-left: auto; */
    margin-right: auto;
}


.left{
    float: left;
    height: 250px;
    width: 200px;
    padding-right: 20px;
}

.box{
    
    height: 100%;
    width: 35%;
    display: inline-block;
    position: relative;
    margin: 30px;
}

ul {
    list-style-type: none;
    float: right;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 10px;
   
}


.li a:link{
    color:  #777777;
    text-decoration: none;
    
}

.li a:visited {
    text-decoration: none;
    color:  #777777;
}

.li a:hover{
    color: #4aaaa5;
    text-shadow: 0 0 .9px #333, 0 0 .9px #333, 0 0 .9px #333;
}


.li{
    border-right:solid 1px #777777;
    
}


li{
    display: inline-block;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 20px;
  
}

 
h1{
    background-color: #4aaaa5;
    color: white;
    padding: 15px;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 96%;
    padding-top: 20px;
     
}



h2{
    color: #4aaaa5;
    border-bottom: 3px solid #dddddd; 
    font-size: 30px;
margin-top: 0px;
}

footer{
    clear: both;
    background-color: #666666;
    height: 50px;
    border-top: 6px solid #4aaaa5;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

p{
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 25px
}


form{ 
    margin: auto;
   
    
}

.input label {
    display: block;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 25px;
    border-radius: 3px;
    color: #777777;
   
  
    
  }
  .input input {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #dddddd;
  
  }

  .button{
    background-color: #4aaaa5;
    color: white;
    height: 40px;
    width: 90px;
    font-size: 20px;
    margin-top: 5px;
  }

  .card-pic{
      width: 100%;
      height:100%;
      
      
  }


  .card-description{
      height: 50px;
      width: 100%;
      background-color: #4aaaa5;
      color: white;
      position: absolute;
      top: 70%;
      text-align: center; 
      line-height: 9px;
      font-size: 1.5vw;
  }


.card-description a:link{
    color: white;
    text-decoration: none;
    
}

.card-description a:visited {
    text-decoration: none;
    color:  white;
}

.card-description a:hover{
    color: white;
    text-shadow: 0 0 .9px #333, 0 0 .9px #333, 0 0 .9px #333;
}
  
  
  
  .message input{
    display: block;
    width: 100%;
    padding: 150px;
    font-size: 16px;
    border: 1px solid #dddddd;
  }



  .message label {
    display: block;
    width: 100%;
     padding-top: 25px;
     padding-bottom: 5px;
    text-align: left;
    font-size: 25px;
    border-radius: 3px;
    color: #777777;

  }
 
     @media screen and (max-width: 980px) {
        .row{
            margin-right: -100px;
        }
     }

      

      
      @media screen and (max-width: 768px) {
        .white{
            margin-right: 5vh;
        }
        .row{
            margin-right: -50px;
        }
      }

      
      @media screen and (max-width: 640px) {
        .row{
            margin-right: auto;
        }


        
    .left{
        float: none;
        height: 100%;
        width: 100%;
        padding-right: 0px;
        }

        
        h1{
            width: 100%;
            margin-bottom: 15px; 
        }
        .box{
            width: 100%;
            margin: 0px;
            margin-bottom: 10px;
        }
        ul{
            padding-top: 15px;
            padding-bottom: 15px;
        }

        
        .card-description{
            height: 65px;
            top: 90%;
            text-align: center; 
            line-height: 9px;
            font-size: 4vw;  

        }


       .name{
           margin-left: 0%;
           text-align: center;
           
        }
        .index-main, .portfolio-main, .contact-main{   
            
            margin-top: 50px;
        }
        ul {
            float: none;
            padding-bottom: 20px;
            padding-right: 70px; 
            padding-left: 70px; 
            text-align: center;  
        }   
        .white{
           
            margin-left: 10px; 
            margin-right: 10px;
            
        } 
        
        }
        
      }

      
    